html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

$primary: #2078ff;

.chart {
  position: relative;
  font-family: 'Lato', 'Arial', sans-serif;
  
  svg {
    color: $primary;
    overflow: visible;
  }

  .axis {
    color: #222;

    line {
      shape-rendering: crispEdges;
    }

    &.x {
      text {
        opacity: .9;
      }
      .tick line {
        display: none;
      }
    }

    &.y {
      .domain {
        display: none;
      }
      text {
        opacity: .6;
      }
      line {
        stroke-opacity: .12;
      }
    }
  }

  .line {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linejoin: round; 
    stroke-linecap: round;
  }

  .area {
    stroke: none;
    fill: currentColor;
    opacity: .12;
  }

  .tooltip {
    position: absolute;
    font-size: .875rem;
    line-height: 1.375em;
    margin-top: -0.75em;
    padding: 0px 10px;
    opacity: 0;
    text-shadow: 1px 0px 6px white,
      0px 1px 6px white,
      -1px 0px 6px white,
      0px -1px 6px white;
    pointer-events: none;

    &.right {
      text-align: right;
    }
  }

  .tooltip-point {
    fill: currentColor;
    stroke: none;
  }
}